@import '../main.css';

.version-status {
  .icon {
    margin: 0 5px 0 0;
  }
  float: left;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: $white;
  font-size: 0.9em;
  abbr[title] {
    border-bottom: 1px dotted $white;
  }
  &.board-supported {
    background: $green;
  }
  &.board-active-dev {
    background: #AEBD34;
  }
  &.board-closed-proto {
    background: $red;
  }
}