@import '../main.css';

.board {
  z-index: 100;
  margin-bottom: 20px;
}

.proto-indicator {
  display: none;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {

	.proto-indicator {
		display: block;
		&:before {
		font-size: 6em;
		color: $lightest-grey;
		}
	}

}