@import '../main.css';

.board {
  .repository-link {
    &:before {
      font-family: FontAwesome;
      content: '\f09b';
      float: left;
      margin: 1px 5px 0 0;
      color: $black;
    }   
  }
}
