@import '../main.css';

.carousel {
  position: relative;
  ul {
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    figcaption {
      background: $lightest-grey;
      padding: 15px;
    }
  }
  .flex-control-paging {
    top: 0;
    bottom: auto;
    height: 30px;
    padding: 10px;
    background: $lightest-grey;
    display: none;
  }
  &.slider-nav {
    padding-top: 30px;
    .flex-control-paging {
      display: block;
    }
  }
}

