@import '../main.css';

.site-header {
  background: $grey;
  min-height: 110px;
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  .site-branding {
    display: block;
    float: left;
    overflow: hidden;
    margin: 18px 0 0 0;
    .animated-site-logo {
      display: none;
      float: left;
      font-size: 32px;
      margin: 0;
      .fa-pause {
        color: $light-grey;
        font-size: 0.9em;
      }
      .fa-camera {
        color: $orange;
        margin-left: 6px;
      }
    }
    .site-descriptor {
      margin: 0 0 0 15px;
      float: left;
    }
    &:hover, &:focus, &:active {
      .site-title, .fa-camera { 
        color: $white;
        text-decoration: none;
      }
    }
  }
  .site-slogan {
    color: $white;
    clear: both;
    margin-top: -10px;
  }
}

.site-title { 
  color: $orange;
  margin: -5px 0 0 0;
  font-size: 38px;
}

#navigation {
  float: right;
  #main-menu {
    margin-top: 40px;
  }
}

.social-links {
  display: none;
  margin: 18px 0 0 0;
  ul {
    float: left;
    font-size: 24px;
    li {
      float: left;
      padding-left: 20px;
      a {
        display: block;
        color: $light-grey;
        &:hover, &:focus, &:active {
          color: $lightest-grey;
        }
      }
    }
  }
}

@media (min-width: 768px) {

  .site-header {
    background: $grey;
    min-height: 110px;
    border-top: 2px solid $black;
    .site-branding {
      .animated-site-logo {
        display: block;
      }
    }
  }

  .social-links {
    ul {
      float: right;
      font-size: 48px;
    }
  }

}
