@import '../main.css';

.home-page {
  background: whitesmoke;
  .content-block {
    position: relative;
    background: whitesmoke;
    .container {
      background: whitesmoke;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 5;
      top: 100%;
      left: 50%;
      margin-left: -40px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 40px 0 40px;
      border-color: whitesmoke transparent transparent transparent;
    }
    &.blue {
      background: $blue;
      color: whitesmoke;
      .container {
        background: $blue;
        color: whitesmoke;
      }
      &:after {
        content: '';
        border-color: $blue transparent transparent transparent;
      }
    }
    &.light-grey {
      background: $light-grey;
      .container {
        background: $light-grey;
      }
      &:after {
        content: '';
        border-color: $light-grey transparent transparent transparent;
      }
    }
    &.lightest-grey {
      background: $lightest-grey;
      .container {
        background: $lightest-grey;
      }
      &:after {
        content: '';
        border-color: $lightest-grey transparent transparent transparent;
      }
    }
    &.white {
      background: $white;
      .container {
        background: $white;
      }
      &:after {
        content: '';
        border-color: $white transparent transparent transparent;
      }
    }
  }
}

.home-feature-images {
  background: $blue;
  .image-slider {
    &.loading {
      visibility: hidden;
    }
  }
  .flexslider {
    max-width: 1000px;
    margin: 0px auto;
    border: none;
    position: relative;
    .flex-viewport {
      overflow: visible !important
    }
    .slide-cover {
      position:absolute;
      width: 100%;
      top: 0;
      height: 100%;
      z-index: 10;
      background: $black;
      opacity: 0.4;
      &.slide-cover-left {
        right: 100%;  
        .fa {
          display: block;
          position: absolute;
          right: 50px;
          top: 50%;
          font-size: 80px;
          margin-top: -80px;
          color: $light-grey;
        }
      }
      &.slide-cover-right {
        left: 100%;
        .fa {
          display: block;
          position: absolute;
          left: 50px;
          top: 50%;
          font-size: 80px;
          margin-top: -80px;
          color: $light-grey;
        }
      }
      &:hover, &:focus, &:active {
        cursor: pointer;
        opacity: 0.7;
        .fa {
          color: $orange;
        }
      }      
    }
  }
  .panel {
    padding: 0;
    margin: 0;
    border: none;
  }
  figure {
    position: relative;
    height: 0;
    padding-bottom: 60%;
    img {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -webkit-transition: 1s ease-in-out;
      -moz-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out;
      transition: 1s ease-in-out;
    }
    figcaption {
      position: absolute;
      right: 0;
      bottom: 0;
      color: $white;
      display: none;
    }
  }
  .flex-active-slide {
    figure {
      img {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        filter: grayscale(0%);
        -o-filter: grayscale(100%);
        -webkit-transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -o-transition: 1s ease-in-out;
        transition: 1s ease-in-out;  
      }
      figcaption {
        display: block;
      }
    }
  }
}
