@import '../main.css';

.loading {
  float: left;
  padding-left: 5px;
  .message {
    display: block;
    float: right;
    font-size: 1em;
    padding: 0.3em 5px 0.3em 5px;
    line-height: 1em;
    color: $light-grey;
  }
  &.size-1x {
  	.message {
  		font-size: 1em;
    	padding: 0.3em 5px 0.3em 5px;
  	}
  }
  &.size-2x {
  	.message {
  		font-size: 1.2em;
    	padding: 0.4em 5px 0.4em 5px;
  	}
  }
  &.size-3x {
  	.message {
  		font-size: 1.4em;
    	padding: 0.6em 10px 0.6em 10px;
  	}
  }
  &.size-4x {
  	.message {
  		font-size: 1.6em;
    	padding: 0.8em 10px 0.8em 10px;
  	}
  }
}

