@import '../main.css';

.page {
	.container {
		padding: 35px 0;
		background: whitesmoke;
		overflow: hidden;
	}
}

.page-heading {
  margin: 0px 0px 10px 0px;
  line-height: 24px;
  font-size: 20px;
}

@media (min-width: 768px) {

  .page-heading {
  	line-height: 28px;
  	font-size: 24px;
  }

}