@import '../main.css';

.commit-list {
  width: 100%;
}
.repository-link {
  .primary-link {
    span {
      margin: 0 5px 0 0;
    }
  }
  .repo-commits {
    margin: 0;
    .list-group-item {
      border: 0;
      background: none;
      padding: 10px 0;
      margin-bottom: -1px;
      .badge {
        display: inline-block;
        float: left;
        min-width: 10px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        line-height: 1;
        vertical-align: baseline;
        white-space: nowrap;
        text-align: center;
        background-color: #999999;
        border-radius: 10px;
      }
      a {
        display: block;
        clear: both;
        margin: 0;
        padding: 5px;
      }
    }
  }
}
